.tab-1 {
  width: 100%;
  margin-top: 2rem;
}

.tab-1, .tab-2 {
  margin-left: 50px;
  margin-bottom: 10px;
}

.tab-2 input {
  display: block;
  margin-bottom: 10px;
}

tr {
  transition: all .25s ease-in-out;
}

tr:hover {
  background-color: #EEE;
  cursor: pointer;
}
